<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd" >

	<bean id="licence" class="com.SpringFrameTest.com.Licence" ></bean>

	<bean id="engine" class="com.SpringFrameTest.com.Bike" >
		<property name="color" value="Blue" ></property> <!-- property is optional -->
		<constructor-arg>
			<bean id="mainEngine" class="com.SpringFrameTest.com.MainEngine" >
				<constructor-arg ref="licence" ></constructor-arg>
			</bean>
		</constructor-arg>
	</bean>
	
	<bean id="Vcolor" class="com.SpringFrameTest.com.Bike" >
		<property name="color" value="Blue" ></property> <!-- property is optional -->
		<constructor-arg>
			<bean id="mainEngine" class="com.SpringFrameTest.com.MainEngine" >
				<constructor-arg ref="licence" ></constructor-arg>
			</bean>
		</constructor-arg>
	</bean>
	
</beans>

